<div id="nav" layout="row top-left">
    
    <div self="left">
        <a href="/" title="Home"><div class="logo logo-isNotVisIfMobile">{{ site.title }}</div></a>
        <a href="/"><div class="logo logo-isVisIfMobile"></div></a>
    </div>

    <div class="nav-isNotVisIfMobile">
        <div class="item">
            <a href="/about">About</a>
        </div>
        <div class="item">
            <a href="/teaching">Teaching</a>
        </div>
         <div class="item">
            <a href="/music">Music</a>
        </div>
        <div class="item">
            <a href="/categories">Categories</a>
        </div>
        <div class="item">
            <a href="/tags">Tags</a>
        </div>
    </div>

    <div class="nav-isVisIfMobile"> <!-- Disappear if small window -->
        <div class="item">
            <a href="/about">About</a>
        </div>
        <div class="item">
            <a href="/teaching">Teaching</a>
        </div>

    </div>
    
</div>
