<div class="container container--header">
    <h1 class="h1--home-title">{{ page.title }}</h1>
    <span style="float:left;"> 
    	{{ page.subtitle }}
	</span>

	<span style="float:right;"> 
     <div id="footer-links"  >
        <ul> 
            <a href="mailto:{{site.social.mail}}" target="_blank" title="Send a mail"><li class="mail"></li></a>
            <a href="https://github.com/{{site.social.github}}" target="_blank" title="Visit Github profile"><li class="github"></li></a>
            <a href="https://twitter.com/{{site.social.twitter}}" target="_blank" title="Visit Twitter profile"><li class="twitter"></li></a>
            <a href="https://linkedin.com/in/{{site.social.linkedin}}" target="_blank" title="Visit Linkein profile"><li class="linkedin"></li></a>
            <a href="https://scholar.google.it/citations?user=_VMbnzQAAAAJ&hl=it&oi=ao" target="_blank" title="Visit Google scholar profile"><li class="gscholar"></li></a>
            <a href="https://www.scopus.com/authid/detail.uri?authorId=56692522700" target="_blank" title="Visit Scopus profile"><li class="scopus"></li></a>

        </ul>
    </div>
    </span>

</div>
